extends layout

block content
  div.container
    div.category-delete
      div.delete-box
        h1 #{title}: #{category.name}
        p Description: #{category.description}
        if category_items.length
          p Can not delete non-empty category. Delete the following items and try again:
      if category_items.length
        div.grid-container
          each item in category_items
            a(href= `.${item.url}`)
              div.item
                div
                  div.item-data
                    h1 #{item.name}
                    p #{item.description}
                  div.item-status
                    div.item-price
                      h2 Price:
                      h2 #{item.check_price}
                    div.item-stock
                      h3 Stock:
                      h3 #{item.check_stock}
      else
        p Are you sure you want to delete #{category.name} category?
        form(method='POST' action='')
          if category.permanent
            input#categoryispermanent(type='hidden' name='categoryispermanent' value='true')
            label(for='adminpass') This is an original shop category. You need admin password to delete it:
              input#adminpass(type='password' name='adminpass' minlength=1 placeholder='Admin password' required='true')
            if pass_check === false
              ol.errors-msg
                li!= 'Wrong admin password!'
          div.del-cal-btns
            a
              button.btn.btn-delete(type='submit') Delete
            a(href=category.url)
              button.btn.btn-cancel(type='button') Cancel
