extends layout

block content
  div.container
    div.error-container
      div.error-details
        h1 Error #{error.status}
        h3 #{title}
        p= message
      if nav_current_directory
        a.btn-control(href=nav_current_directory[nav_current_directory.length-2].setPath) Go back to #{nav_current_directory[nav_current_directory.length-2].name}
      else
        a.btn-control(href='/catalog') Go back to Catalog
