extends layout

block content
  div.container-home
    img.home-bg-pic(src='/pictures/home_picture_f1_2022_car.png')
    div.home-grid
      each category in nav_category_list
        if category && category.permanent
          a.btn-control(href=category.url)
            img.item-img(src=`/pictures/home_${category.name.toLowerCase()}_pic.jpg`)
            | #{category.name}
      - const otherCategories = nav_category_list.filter(c => c.permanent == false).length
      if otherCategories
        if otherCategories > 1
          a.btn-control.otherCategories(href='/catalog') And #{otherCategories} other categories
        else
          a.btn-control.otherCategories(href='/catalog') And #{otherCategories} other category
