extends layout

block content
  div.grid-container
    each item in item_list
      a(href= catalog ? catalog + item.category + item.url : item.category + item.url)
        div.item
          div
            div.item-data
              h1= item.name
              p= item.description
            div.item-status
              div.item-price
                h2= `Price:`
                h2= item.price > 0 ? `${item.price}$` : 'FREE'
              div.item-stock
                h3= (item.stock === 0) ? `Out of stock: ` : `In stock:`
                h3= (item.stock === 0) ? `` : `${item.stock}`
    a(href= '/item/create')
      div.item.item-add
        div
          h1 Add new item
    if !catalog
      div.item.category-controls
        div
          a(href= `${category._id}/update`)
            div.catalog-update
              h1 Update category
          a(href= `${category._id}/delete`)
            div.catalog-delete
              h1 Delete category
