extends layout

block content
  div.grid-container
    each item in item_list
      a.item(href=`${item.category.url}${item.url}`)
        if item.imgName
          div.item-img
            img(src=`/uploads/images/${item.imgName}`)
        else
          div.item-no-img
        div.item-details
          div.item-data
            h1 #{item.name}
            p #{item.description}
          div.item-status
            div.item-price
              h2 Price:
              h2 #{item.check_price}
            div.item-stock
              h3 Stock:
              h3 #{item.check_stock}
    div.item.item-add
      a.btn-control(href='/item/create') Add new item
    if category
      div.item.category-controls
        a.btn-control(href=`${category.url}/update`) Update category
        a.btn-control.btn-delete(href=`${category.url}/delete`) Delete category
