extends layout

block content
  div.container
    div.item-container
      div.item-img
        if item.imgName
          img(src=`/uploads/images/${item.imgName}`)
        else
          div.item-no-img
      div.item-details
        div.item-data
          h1 #{item.name}
          p #{item.description}
        div.item-status
          div.item-price
            h2 Price:
            h2 #{item.check_price}
          div.item-stock
            h3 Stock:
            h3 #{item.check_stock}
        div.item-controls
          a.btn-control(href=`.${item.url}/update`) Update item
          a.btn-control.btn-danger(href=`.${item.url}/image-delete`) Delete image
          a.btn-control.btn-danger(href=`.${item.url}/delete`) Delete item
