extends layout

block content
  div.container
    div.item-delete
      div.delete-box
        h1 #{title}: #{item.name}
        p Are you sure you want to delete #{item.name} item?
        form(method='POST' action='')
          input#itemid(type='hidden' name='itemid' required='true' value=item._id)
          input#itemimagename(type='hidden' name='itemimagename' required='true' value=item.imgName)
          if item.permanent
            input#itemispermanent(type='hidden' name='itemispermanent' value='true')
            label(for='adminpass') This is an original shop item. You need to enter admin password to delete it:
            input#adminpass(type='password' name='adminpass' minlength=1 placeholder='Admin password' required='true')
            if pass_check === false
              ol.errors-msg
                li!= 'Wrong admin password!'
          div.delete-controls
            a
              button.btn-control.btn-delete(type='submit') Delete
            a(href=`..${item.url}`)
              button.btn-control.btn-cancel(type='button') Cancel
      div.item
        if item.imgName
          div.item-img
            img(src=`/uploads/images/${item.imgName}`)
        else
          div.item-no-img
        div.item-details
          div.item-data
            h1 #{item.name}
            p #{item.description}
          div.item-status
            div.item-price
              h2 Price:
              h2 #{item.check_price}
            div.item-stock
              h3 Stock:
              h3 #{item.check_stock}
