extends layout

block content
  div.container
    div.item.item-container
      div.item-details
        div.item-data
          h1= item.name
          p= item.description
        div.item-status
          h2 Price: #{item.price > 0 ? `${item.price}$` : 'FREE'}
          h3= (item.stock === 0) ? 'Out of stock: ' : `In stock: ${item.stock}`
        if !item.permanent 
          div.item-controls
            div
              a(href= `${item._id}/delete`)
                div.catalog-delete
                  h1 Delete item
              a(href= `${item._id}/update`)
                div.catalog-update
                  h1 Update item
      