doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.nav-top
        ul.category-list
          li
            a(href='/') Home
          li.dropdown-hover
            a(href='/catalog') Catalog
            if nav_category_list
              ul.dropdown
                each category in nav_category_list
                  li
                    a(href=category.url) #{category.name}
                li
                  a(href='/category/create') + New category
        header.logo
          a(href='/')
      if nav_current_directory && nav_current_directory.length
        div.nav-bot
          ul.current-directory
            each dir in nav_current_directory
              li
                a(href=dir.link) #{dir.name}
    main
      block content
  script(rel='javascript', src='/javascripts/goBack.js')
